:root {
    --color:rgb(53, 99, 96)
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    height: 3000px;
}
.header {
    display: flex;
    background-color:var(--color);
    justify-content: space-around;
    
}

.logo {
    display: flex;
    font-size: 4em;
    font-weight: 900;
    font-family: 'Fascinate Inline', cursive;
    color: #fff0d4;
    
}


ul {
    display: flex;
    list-style: none;     
    font-size: 1.5em;
    align-items: center;
    font-family: 'Fascinate', cursive;
}

a {  
    text-decoration: none;
    color: #fff0d4;   
}

.link {
    border: 0px solid;
    border-radius: 10px;
    padding: 20px;   
}

  ul a:hover {
    background-color: #fff0d4;
    color:var(--color);   
}

.top-body {
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color:var(--color);
    height: 600px;
    align-items: center;
        
}

 .left-text {
    display: flex;
    flex-direction: column;
        
}

.front-text {
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    width: 450px;
    color: antiquewhite;
    
}

.small-text {
    font-size: 18px;
    width: 500px;
    margin-top: 10px;
    color: antiquewhite;
    
}

.image {
    display: flex;
    height: 350px;
    border-radius: 40px;
    overflow: hidden;

}

.button a {
    border: 0px solid red;
    border-radius: 10px;
    background-color: #fff0d4;
    color: var(--color);
    padding: 5px;
    position: relative; top: 15px;
}

.mid-body {
    display: flex;
    justify-content: center;
    

}

.info-text {
    display: flex;
    margin-top: 50px;
    font-size: 3em;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color);   
    font-family: 'Fredoka One', cursive;
}

.gib-images img {
    display: flex;
    height: 250px;
    width: auto;
    border: 0px solid;
    border-radius: 30px;
    flex-wrap: wrap;
    border: 6px solid var(--color);
}

.gib-images {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 30px;
}

.gib {
    
    display: flex;   
    float: left;
}

.mid-text {
    display: flex;
    gap: 140px;
    margin-top: 25px;
    justify-content: center;
    position: relative; left: 2px;  
}


.gib-text {
    color: var(--color) ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Fredoka One', cursive;
    font-weight: 300;
}

.lower-half {
    display: flex;
    font-size: 3.5em;
    text-align: center;
    background-color: rgb(223, 222, 222);
    height: 500px;
    margin-top: 150px;
}

.lower-half span {
    display: flex;
    font-weight: 900;
    position: relative; left: 300px;
    justify-content: center;
    margin-right: 40px;
    margin-top: 30px;
    
}

.lower-text {
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
    align-self: center;
}

.container {
    display: flex;
    background-color: var(--color);
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    height: 200px;
    border-radius: 10px;
    justify-content: space-between;
    

}

.text-at-bottom {
    display: flex;
    width: 250px;   
}

.bottom-text {
    display: flex;
    flex-direction: column;   
}

.bottom-text span {
    font-weight: 900;
    font-family: 'Fascinate', cursive;
}
.bottom-link {
    display: flex;
    align-self: center;
    margin-right: 100px;
    
    

}

.bottom-link a {
    border: 2px solid;
    border-radius: 20px;
    padding: 5px;
    padding-left:20px ;
    padding-right: 20px;
}

